Repository Blockstream/bitcoin-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_bitcoind, build_lightningd, build_elementsd

build_bitcoind:
  stage: build_push
  when: manual
  script:
  - cd bitcoind && bash build-and-push-to-dockerhub.sh

build_lightningd:
  stage: build_push
  when: manual
  script:
  - cd lightningd && bash build-and-push-to-dockerhub.sh

build_elementsd:
  stage: build_push
  when: manual
  script:
  - cd elementsd && bash build-and-push-to-dockerhub.sh

lightningd: v23.05.2
  lightningd/Dockerfile
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/Dockerfile.debian-paytest
Due: build_lightningd

lightningd: Update peerswap
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/Dockerfile.debian
  lightningd/peerswap/Dockerfile.debian-paytest
Due: none

elementsd:22.1.1
  elementsd/Dockerfile.gitian
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

charged:v0.4.24
  charged/Dockerfile
  charged/build-and-push-to-dockerhub.sh
Due: none

Upgrade lightningd-historian to v23.05.2
  lightningd/misc/historian/Dockerfile
Due: none

Add Dockerfiles to .dockerignore
  lightningd/.dockerignore
Due: build_lightningd

blockstream/lightningd:v23.08
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/misc/historian/Dockerfile
  lightningd/misc/rebalance.Dockerfile
  lightningd/misc/sauron.Dockerfile
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/debian-paytest.Dockerfile
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd

Add lightningd-peerswap-debian build script and fix gpg errors
  .gitlab-ci.yml
  lightningd/.dockerignore
  lightningd/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian-paytest.Dockerfile
Due: build_lightningd

blockstream/charged:0.4.26
  charged/Dockerfile
  charged/build-and-push-to-dockerhub.sh
Due: none

Upgrade tor to 0.4.8.10
  tor/Dockerfile
  tor/build-and-push-to-dockerhub.sh
Due: none

bitcoind:25.1
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

bitcoind:25.2
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

bitcoind: 26.1
  bitcoind/Dockerfile
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

blockstream/lightningd:v24.05
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
Due: build_lightningd

blockstream/lightningd:v24.05-peerswap-5935fb4656307a87cafde2513d54deec1c26f8f2
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian-paytest.Dockerfile
  lightningd/peerswap/debian.Dockerfile
Due: none

blockstream/lightningd:v24.05-historian
  .gitlab-ci.yml
  lightningd/misc/historian/Dockerfile
  lightningd/misc/historian/build-and-push-to-dockerhub.sh
  lightningd/misc/historian/connectionpool.py
Due: none

blockstream/elementsd:23.2.2
  elementsd/Dockerfile
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

blockstream/elementsd:23.2.3
  elementsd/Dockerfile
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

lightningd: Change summary plugin download path
  lightningd/Dockerfile
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd

blockstream/lightningd:v24.05-peerswap-debian-513f0c6
  lightningd/peerswap/build-and-push-to-dockerhub.sh
Due: none

Use commit for lightningd/plugins instead of master
  lightningd/Dockerfile
  lightningd/arm/Dockerfile.armv7
  lightningd/arm/Dockerfile.armv7-esplora
  lightningd/misc/rebalance.Dockerfile
  lightningd/misc/sauron.Dockerfile
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd

blockstream/lightningd:v24.08.2
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/misc/historian/Dockerfile
  lightningd/misc/historian/build-and-push-to-dockerhub.sh
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd

waterfalls: init image
  .gitlab-ci.yml
  charged/build-and-push-to-dockerhub.sh
  waterfalls/Dockerfile
  waterfalls/build-and-push-to-dockerhub.sh
Due: none

electrs: add liquid debug version
  .gitlab-ci.yml
  electrsd/Dockerfile
  electrsd/README.md
  electrsd/build-and-push-to-dockerhub.sh
Due: none

waterfalls: just run as root for now
  waterfalls/Dockerfile
Due: none

docker buildx: use imagetools to tag
  bitcoind/build-and-push-to-dockerhub.sh
  elementsd/build-and-push-to-dockerhub.sh
  lightningd/build-and-push-to-dockerhub.sh
Due: build_bitcoind, build_lightningd, build_elementsd

multi-platform: fix missing TARGETARCH
  bitcoind/Dockerfile
  elementsd/Dockerfile
Due: build_bitcoind, build_elementsd

elementsd: Bump to 23.2.5
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

lightningd: Bump peerswap-debian to 3eadb6 (plus golang base)
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian.Dockerfile
Due: none

bitcoind:27.2
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

elementsd: enable builds from alternate GH repos
  elementsd/Dockerfile
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

elementsd: Bump to 23.3.0
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

feat(waterfalls): version 4abb0d99
  waterfalls/build-and-push-to-dockerhub.sh
Due: none

lightningd: Archive unused Dockerfiles and rename misc to historian
  .gitignore
  .gitlab-ci.yml
  lightningd/archive/rebalance.Dockerfile
  lightningd/archive/sauron.Dockerfile
  lightningd/historian/Dockerfile
  lightningd/historian/build-and-push-to-dockerhub.sh
  lightningd/historian/connectionpool.py
Due: none

lightningd: Add missing libpq package from main and historian variants
  lightningd/Dockerfile
  lightningd/historian/Dockerfile
Due: build_lightningd

lightningd: Reconcile env var usage during builds and reuse base images for binaries
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/historian/Dockerfile
  lightningd/historian/build-and-push-to-dockerhub.sh
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd

lightningd: Start installing Prometheus plugin with uv
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/historian/build-and-push-to-dockerhub.sh
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd

lightningd: Bump CLN to v25.05 and other versions
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/historian/build-and-push-to-dockerhub.sh
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd

lightningd: Update README
  lightningd/README.md
Due: build_lightningd

Path conditions:
  build_bitcoind: any of: bitcoind/**
  build_lightningd: any of: lightningd/**
  build_elementsd: any of: elementsd/**
