Repository Blockstream/bitcoin-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_bitcoind, build_lightningd, build_lightningd_peerswap, build_lightningd_historian, build_elementsd, build_waterfalls, build_electrsd

build_bitcoind:
  stage: build_push
  when: manual
  script:
  - cd bitcoind && sh ./build-and-push-to-dockerhub.sh

build_lightningd:
  stage: build_push
  when: manual
  script:
  - cd lightningd && sh ./build-and-push-to-dockerhub.sh

build_lightningd_peerswap:
  stage: build_push
  when: manual
  script:
  - cd lightningd/peerswap && sh ./build-and-push-to-dockerhub.sh

build_lightningd_historian:
  stage: build_push
  when: manual
  script:
  - cd lightningd/misc/historian && sh ./build-and-push-to-dockerhub.sh

build_elementsd:
  stage: build_push
  when: manual
  script:
  - cd elementsd && sh ./build-and-push-to-dockerhub.sh

build_waterfalls:
  stage: build_push
  when: manual
  script:
  - cd waterfalls && sh ./build-and-push-to-dockerhub.sh

build_electrsd:
  stage: build_push
  when: manual
  script:
  - cd electrsd && sh ./build-and-push-to-dockerhub.sh

feat(waterfalls): switch to rcasetta repo and update commit
  waterfalls/Dockerfile
  waterfalls/build-and-push-to-dockerhub.sh
Due: build_waterfalls

bitcoind: 28.0
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

bitcoind: 28.1
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

bitcoind: 28.2
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

fix(bitcoin): make script posix compliant
  bitcoind/Dockerfile
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

housekeeping(bitcoin): version 29.1
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

housekeeping(bitcoind): v30.0
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

feat(lightningd): switch to upstream base image
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/qemu-arm-static
Due: build_lightningd

Apply suggestions from code review
  lightningd/Dockerfile
Due: build_lightningd

[waterfalls] bump commit
  waterfalls/build-and-push-to-dockerhub.sh
Due: build_waterfalls

fix(lightningd): default to `stable` tag
  lightningd/Dockerfile
Due: build_lightningd

fix(lightningd): pr feedback
  lightningd/Dockerfile
Due: build_lightningd

feat(lightningd): switch to upstream base image (#3)
  lightningd/Dockerfile
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/qemu-arm-static
Due: build_lightningd

hk(bitcoin): 30.2 upgrade
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

hk(bitcoin): 30.2 upgrade (#4)
  bitcoind/build-and-push-to-dockerhub.sh
Due: build_bitcoind

elementsd: Bump to 23.3.3
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

chore(bitcoin): v31.0
  bitcoind/Dockerfile
  bitcoind/Dockerfile.guix
  bitcoind/README.md
  bitcoind/build-and-push-to-dockerhub.sh
  bitcoind/run-gitian.sh
  bitcoind/run-guix.sh
Due: build_bitcoind

tor: build signed 0.4.9.11 image
  .gitlab-ci.yml
  tor/Dockerfile
  tor/README.md
  tor/build-and-push-to-dockerhub.sh
  tor/tor.service
Due: none

chore(bitcoin): v31.1
  bitcoind/Dockerfile
  bitcoind/Dockerfile.gitian
  bitcoind/README.md
  bitcoind/build-and-push-to-dockerhub.sh
  bitcoind/run-gitian.sh
  bitcoind/run-guix.sh
Due: build_bitcoind

CI: Start logging into Docker Hub using OAT
  .gitlab-ci.yml
Due: none

lightningd: Bump PS to 5.0.1 + daemons; modernize dep management
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
  lightningd/peerswap/debian.Dockerfile
Due: build_lightningd_peerswap

lightningd: Bump to v25.12.1 + fix deps
  .gitlab-ci.yml
  lightningd/Dockerfile
  lightningd/archive/historian/Dockerfile
  lightningd/archive/historian/build-and-push-to-dockerhub.sh
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/historian/connectionpool.py
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
Due: build_lightningd, build_lightningd_peerswap

lightningd/peerswap: Add clnrest
  lightningd/peerswap/Dockerfile
Due: build_lightningd_peerswap

lightningd: v26.06.6 + PS v7.0.0
  .gitlab-ci.yml
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
Due: build_lightningd_peerswap

elementsd: Bump to 23.3.4
  elementsd/build-and-push-to-dockerhub.sh
Due: build_elementsd

lightningd: Move arm to archive
  lightningd/archive/arm/Dockerfile.armv7
  lightningd/archive/arm/Dockerfile.armv7-esplora
  lightningd/archive/arm/README.md
Due: none

lightningd/peerswap: Build CLNRest from source + Bump to v26.06.7
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/peerswap/Dockerfile
  lightningd/peerswap/build-and-push-to-dockerhub.sh
Due: build_lightningd_peerswap

lightningd: Bump CLN to 26.06.8
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/peerswap/build-and-push-to-dockerhub.sh
Due: build_lightningd_peerswap

Bump lightningd to v26.06.9
  lightningd/build-and-push-to-dockerhub.sh
  lightningd/peerswap/build-and-push-to-dockerhub.sh
Due: build_lightningd_peerswap

Path conditions:
  build_bitcoind: any of: bitcoind/**
  build_lightningd: any of: lightningd/Dockerfile
  build_lightningd_peerswap: any of: lightningd/peerswap/*
  build_lightningd_historian: any of: lightningd/misc/historian/*
  build_elementsd: any of: elementsd/**
  build_waterfalls: any of: waterfalls/**
  build_electrsd: any of: electrsd/**
